# idea
*.iml
.idea/

# mac
.DS_Store

# gradle ignore
.gradle
build/
out/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# compatibility tests ignore
results.md
supergraph*
