name: Build

on:
  workflow_call:

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build libraries with Gradle
        run: ./gradlew clean build

      - name: Archive failure build reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: build-reports
          path: |
            ./**/build/reports
          retention-days: 7
