name: Continuous Integration

on:
  push:
    branches:
      - master
      - 'v*.x'
    paths-ignore:
      - '*.md'

jobs:
  build:
    uses: ./.github/workflows/build.yaml

  integration:
    needs: build
    uses: ./.github/workflows/federation-compatibility.yaml
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  release-notes:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Release Drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
