name: Continuous Integration

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    uses: ./.github/workflows/build.yaml

  integration:
    needs: build
    uses: ./.github/workflows/compatibility.yml

  release-notes:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Release Drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
