name: Pull Request Check

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '*.md'

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Java 8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'temurin'
          cache: maven

      - name: Build library with Maven
        run: mvn -B package
